/doc/chap*.html
/doc/chap*.txt
/doc/*.css
/doc/*.js
/doc/chooser.html
/doc/*.aux
/doc/*.bbl
/doc/*.blg
/doc/*.brf
/doc/*.idx
/doc/*.ilg
/doc/*.ind
/doc/*.lab
/doc/*.log
/doc/*.out
/doc/*.pnr
/doc/*.six
/doc/*.tex
/doc/*.toc
/doc/manual.pdf

/bin/
/Makefile

/tmp/
/gh-pages/
/setup-gh-pages

/lib/constructors/o7.gi
/lib/constructors/o7.gd
/lib/constructors/g2.gi
/lib/constructors/g2.gd
/lib/constructors/G136.gi
/lib/constructors/G136.gd
/lib/constructors/Graph6.gi
/lib/constructors/Graph6.gd
/lib/constructors/srg64.gi
/lib/constructors/srg64.gd
